#about {
  display: flex;
  flex-direction: column;
  background: url(../assets/svgs/orange-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-inline: 0;
  height: 100%;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 20px;
}

aside img {
  width: 70vw;
  gap: 10rem;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

.article-name {
  font-size: 32px;
}

.about-me-article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
  margin-block-end: 2rem;
}

.about-me-article h2 {
  font-size: 24px;
  font-family: 'HurmeBold';
}

.first-name {
  color: var(--orange);
}

.article-paragraph {
  text-align: justify;
  background-color: azure;
  padding: 20px;
  border-radius: 5%;
}

.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-sma img, .education-college img {
  width: 60px;
}

.education-sma, .education-college {
  display: flex;
  background-color: azure;
  border-radius: 10px;
  padding: 10px;
  margin-block: 10px;
  height: 5rem;
  align-items: center;
  gap: 10px;
  margin-inline: 20px;
  width: 280px;
}

@media screen and (min-width: 768px) {
  #about {
    background: url(../assets/svgs/orange-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .about-me-content {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .about-me-article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-block: 25px;
    max-width: 500px;
  }

  aside img {
    width: 40vw;
  }

  .article-paragraph {
    border-radius: 15px;
  }

  .education-content {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  aside img {
    max-width: 350px;
  }

  .about-me-article {
    max-width: 600px;
  }
}